* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-input {
  display: flex;
  justify-content: space-evenly;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}
